<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="123.jpeg " height="300px" width="400px" alt="myself">
    </div>


    {{>footer}}
</body>

</html>